<div class="trade_behaviour">
  <div class="trade_behaviour_container">
    <!--筛选条件-->
    <div class="search_filter_div">
      <B class="title">交易行为</B>
      <!--筛选与搜索-->
      <div class="search_filter_container">
        <!--按名称搜索-->
        <div class="search">
          <span class="search_filter_lable">账号：</span>
          <nz-select class="search_input"
                     nzMode="multiple"
                     nzPlaceHolder="请输入名称"
                     nzAllowClear
                     nzShowSearch
                     nzServerSearch
                     [(ngModel)]="userSelectValue">
            <ng-container *ngFor="let user of futureUserList">
              <nz-option  [nzValue]="user.account_id" [nzLabel]="user.account_id"></nz-option>
            </ng-container>
          </nz-select>
        </div>
      </div>
      <div class="search_filter_container">
        <!--按品种搜索-->
        <div *ngIf="false" class="search">
          <span class="search_filter_lable">品种：</span>
          <nz-select class="search_input" nzShowSearch nzAllowClear nzPlaceHolder="请输入品种"
                     [(ngModel)]="productInputValue"
                     (ngModelChange)="onProductInput($event)">
            <nz-option *ngFor="let symbolItem of futuresProductList"
                       nzLabel="{{symbolItem.product_name}}"
                       nzValue="{{symbolItem.product_id}}"></nz-option>
          </nz-select>
        </div>
        <!--日期选择-->
        <div>
          <span class="search_filter_lable">时间范围：</span>
          <nz-range-picker class="date_picker"
                           [(ngModel)]="date"
                           [nzRanges]="ranges"
                           (ngModelChange)="onDateChange($event)"></nz-range-picker>
        </div>
        <!--查询按钮-->
        <button nz-button nzType="primary" class="search_button" (click)="search(1)">查询</button>
      </div>
    </div>
    <!--图表区域-->
    <div nz-row class="dashboard_div">
      <!--品种多空分布-->
      <app-symbol-long-short-distribution nz-col nzSpan="8" class="border_right"
                                          [userSelectValue]="userSelectValue"
                                          [openEnd]="openEnd"
                                          [openStart]="openStart"></app-symbol-long-short-distribution>
      <!--多空盈亏分布-->
      <app-long-short-profit-distribute nz-col nzSpan="8" class="border_right"
                                        [userSelectValue]="userSelectValue"
                                        [openEnd]="openEnd"
                                        [openStart]="openStart"></app-long-short-profit-distribute>
      <!--持仓时间分布-->
      <app-holding-time-distribution nz-col nzSpan="8" ></app-holding-time-distribution>
<!--      <div nz-col nzSpan="6">K线图</div>-->
    </div>
    <!--数据列表-->
    <div class="list_div">
      <!--switch-->
      <div class="switch">
        <nz-radio-group class="radio" [(ngModel)]="radioValue" >
          <label class="radio_item" nz-radio-button nzValue="{{FutureSwitchType.position}}">当前持仓</label>
          <label class="radio_item" nz-radio-button nzValue="{{FutureSwitchType.account}}">资金一览</label>
        </nz-radio-group>
      </div>
      <!--列表-->
      <div>
        <!--当前持仓-->
        <app-position-list *ngIf="radioValue === FutureSwitchType.position"
                           [userSelectValue]="userSelectValue"
                           [openEnd]="openEnd"
                           [openStart]="openStart"></app-position-list>
        <!--资金一览-->
        <app-account-list *ngIf="radioValue === FutureSwitchType.account"
                          [userSelectValue]="userSelectValue"
                          [openEnd]="openEnd"
                          [openStart]="openStart"></app-account-list>
      </div>
    </div>
  </div>
</div>
