<div class="user_profit">
  <div nz-row>
    <!--用户收益排名-->
    <div nz-col nzSpan="14" class="user_profit_container">
      <nz-table #basicTable
                nzBordered
                [nzData]="dataList"
                [nzTitle]="title"
                [nzLoading]="isLoading"
                [nzNoResult]="'暂无数据'"
                [nzTotal]="totalCount"
                [nzFrontPagination]="false"
                [nzPageSize]="pageSize"
                [(nzPageIndex)]="pageNo"
                (nzPageIndexChange)="onPageIndexChange($event)"
                (nzQueryParams)="onQueryParamsChange($event)">
        <!--表头-->
        <thead>
        <tr>
          <th  nzColumnKey="userId" [nzSortFn]="true">用户</th>
          <th  nzColumnKey="accountId" [nzSortFn]="true">账号</th>
          <th  nzColumnKey="totalProfit" [nzSortFn]="true">盈亏金额（$）</th>
<!--          <th>收益率</th>-->
          <th>品种</th>
<!--          <th *ngIf="openStart && symbolInputValue">交易时间</th>-->
        </tr>
        </thead>
        <!--表格数据-->
        <tbody>
        <tr *ngFor="let data of basicTable['data']; index as i" [class.selected]="i === selectedIndex" (click)="detail(data, i)">
          <td >{{ data.userId }}</td>
          <td >{{ data.accountId }}</td>
          <td>{{ moneyFormat(data.totalProfit) }}</td>
<!--          <td>{{ data.incomeRate }}</td>-->
          <td>{{ data.symbol ? data.symbol : '-'}}</td>
<!--          <td *ngIf="openStart && symbolInputValue">{{ data.tradeDate }}</td>-->
        </tr>
        </tbody>
      </nz-table>
      <!--头部-->
      <ng-template #title>
        <B class="title">用户收益排名</B>

        <!--筛选与搜索-->
        <div class="search_filter_container">
          <!--按名称搜索-->
          <div class="search">
            <span class="search_filter_lable">账号：</span>
            <input #nameInput class="search_input" placeholder="请输入名称" nz-input
                   [maxLength]="20"
                   [(ngModel)]="nameInputValue"
                   (input)="onNameInput(nameInput.value)"
                   [nzAutocomplete]="auto"
                   (keydown.enter)="search(1)"/>
            <nz-autocomplete nzBackfill #auto>
              <nz-auto-option *ngFor="let userItem of nameSuggestionList"
                              [nzValue]="userItem.accountId.toString()"
                              (click)="selectedNameSuggestionItem(userItem.accountId)">{{userItem.accountId.toString()}}</nz-auto-option>
            </nz-autocomplete>
          </div>

          <!--按品种搜索-->
          <div class="search">
            <span class="search_filter_lable">品种：</span>
            <nz-select class="search_input" nzShowSearch nzAllowClear nzPlaceHolder="请输入品种"
                       [(ngModel)]="symbolInputValue"
                       (ngModelChange)="onSymbolInput($event)">
              <nz-option *ngFor="let symbolItem of symbolSuggestionList"
                         nzLabel="{{symbolItem.symbol}}"
                         nzValue="{{symbolItem.symbol}}"></nz-option>
            </nz-select>
          </div>

          <!--盈亏范围筛选-->
          <div *ngIf="false" class="income_rate_filter">
            <span class="search_filter_lable">盈亏范围：</span>
            <!--最小值-->
            <nz-input-number
              class="number_input"
              [(ngModel)]="minValue"
              [nzMin]="-1000"
              [nzMax]="1000"
              [nzStep]="1"
              [nzFormatter]="formatterPercent"
              [nzParser]="parserPercent"></nz-input-number>
            <!--连接符号-->
            <span style="margin: 0 5px"> - </span>
            <!--最大值-->
            <nz-input-number
              class="number_input"
              [(ngModel)]="maxValue"
              [nzMin]="-1000"
              [nzMax]="1000"
              [nzStep]="1"
              [nzFormatter]="formatterPercent"
              [nzParser]="parserPercent"></nz-input-number>
          </div>

          <!--日期选择-->
          <div class="date_filter">
            <span class="search_filter_lable">时间范围：</span>
            <nz-range-picker class="date_picker"
                             [(ngModel)]="date"
                             [nzRanges]="ranges"
                             (ngModelChange)="onDateChange($event)"></nz-range-picker>
          </div>

          <!--查询按钮-->
          <button nz-button nzType="primary" class="search_button" (click)="search(1)">查询</button>

        </div>

      </ng-template>
    </div>
    <div *ngIf="showDetail" nz-col nzSpan="10" class="user_profit_container">
      <app-user-profit-detail [userId]="userId" [accountId]="accountId" [symbol]="symbolInputValue"
      [openStart]="openStart" [openEnd]="openEnd"></app-user-profit-detail>
    </div>
  </div>

</div>
