.symbol_profit{
  width: 100%;
  height: 100%;
}

.symbol_profit .content{
  display: flex;
}

.symbol_profit .symbol_profit_container{
  padding: 0 20px;
  margin-top: 20px;
}

.symbol_profit_container .title{
  height: 40px;
  font-size: 24px;
  line-height: 40px;
}
.symbol_profit_container .search_filter_container{
  width: 100%;
  height: 30px;
  display: flex;
  margin-top: 10px;
}

.search_filter_container .search{
  margin-right: 10px;
  display: flex;
}

.search .search_input{
  width: 120px;
}

.search_filter_container .search_filter_lable{
  width: 55px;
  line-height: 30px;
  font-weight: bold;
}

.symbol_profit_container .date_filter{
  margin-left: 10px;
}

.search_filter_container .search_button{
  width: 100px;
  margin-left: 20px;
}

.symbol_profit_container .table_data_item{
  cursor: pointer;
}
