<div class="symbol_profit">
  <div nz-row>
    <!--品种收益排名-->
    <div nz-col nzSpan="14" class="symbol_profit_container">
      <nz-table #basicTable
                nzBordered
                [nzData]="dataList"
                [nzTitle]="title"
                [nzLoading]="isLoading"
                [nzNoResult]="'暂无数据'"
                [nzTotal]="totalCount"
                [nzFrontPagination]="false"
                [nzPageSize]="pageSize"
                [(nzPageIndex)]="pageNo"
                (nzPageIndexChange)="onPageIndexChange($event)"
                (nzQueryParams)="onQueryParamsChange($event)">
        <!--表头-->
        <thead>
        <tr>
          <th  nzColumnKey="standardSymbol" [nzSortFn]="true">名称</th>
          <th  nzColumnKey="tradeDate" [nzSortFn]="true">日期</th>
          <th  nzColumnKey="profit" [nzSortFn]="true">用户盈利</th>
          <th  nzColumnKey="loss" [nzSortFn]="true">用户亏损</th>
          <th  nzColumnKey="breakEven" [nzSortFn]="true">用户持平</th>
          <th  nzColumnKey="type" [nzSortFn]="true">类型</th>

        </tr>
        </thead>
        <!--表格数据-->
        <tbody>
        <tr *ngFor="let data of basicTable['data']; index as i" [class.selected]="i === selectedIndex"
            (click)="detail(data, '', i)">
          <td >{{ data.standardSymbol }}</td>
          <td class="table_data_item" >{{ dateFormat(data.tradeDate)}}</td>
          <td class="table_data_item" >{{ rateForamt(data.profit)}}</td>
          <td class="table_data_item" >-{{ rateForamt(data.loss)}}</td>
          <td class="table_data_item" >{{ rateForamt(data.breakEven) }}</td>
          <td class="table_data_item" >{{ data.type }}</td>

        </tr>
        </tbody>
      </nz-table>
      <!--头部-->
      <ng-template #title>
        <B class="title">{{type}}收益分析</B>

        <!--筛选与搜索-->
        <div class="search_filter_container">
          <!--按品种搜索-->
          <div class="search">
            <span class="search_filter_lable">品种：</span>
            <nz-select class="search_input" nzShowSearch nzAllowClear nzPlaceHolder="请输入品种"
                       [(ngModel)]="symbolInputValue"
                      (ngModelChange)="onSymbolInput($event)">
              <nz-option *ngFor="let symbolItem of symbolSuggestionList"
                         nzLabel="{{symbolItem.standardSymbol}}"
                         nzValue="{{symbolItem.standardSymbol}}"></nz-option>
            </nz-select>
          </div>

          <!--日期选择-->
          <div class="date_filter">
            <span class="search_filter_lable">时间范围：</span>
            <nz-range-picker class="date_picker"
                             [(ngModel)]="date"
                             [nzRanges]="ranges"
                             (ngModelChange)="onDateChange($event)"></nz-range-picker>
          </div>

          <!--查询按钮-->
          <button nz-button nzType="primary" class="search_button" (click)="search(1)">查询</button>

        </div>

      </ng-template>
    </div>
    <div *ngIf="showDetail" nz-col nzSpan="10" class="symbol_profit_container">
      <app-symbol-profit-detail [symbol]="currentSymbol" [date]="currentDate" [returnType]="currentReturnType"></app-symbol-profit-detail>
    </div>
  </div>

</div>

