/*右上*/
.symbol_trend{
  width: 100%;
  height: 100%;
  position: relative;
}

.symbol_trend_container .chart_style{
  width: 100%;
  height: 200px !important;
}

.symbol_trend_container .echarts{
  height: 250px;
  background: #fff;
  border: 15px solid #fff;
}
