<div class="profit_distributed">
  <h3 class="dashboard_item_title">盈亏分布</h3>

  <div nz-row class="container">
    <!--盈利-->
    <div nz-col nzSpan="8" class="progress_item_div" *ngFor="let item of dataList">
      <nz-progress [nzPercent]="item.value"
                   nzType="circle"
                   [nzFormat]="format1"
                   [nzStrokeColor]="item.strokeStyle"></nz-progress>
      <ng-template #format1>
        <div class="format_div">
          <p class="percent"><span class="number">{{item.value}}</span>%</p>
          <p class="progress_title">{{item.lable}}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
