<div class="group_profit">
  <div class="content">
    <!--用户组收益-->
    <div class="container" >
        <nz-table #groupProfitTable
                  nzBordered
                  [nzData]="dataList"
                  [nzTitle]="title"
                  [nzLoading]="isLoading"
                  [nzNoResult]="'暂无数据'"
                  [nzTotal]="totalCount"
                  [nzFrontPagination]="false"
                  [nzPageSize]="pageSize"
                  [(nzPageIndex)]="pageNo"
                  (nzPageIndexChange)="onPageIndexChange($event)"
                  (nzQueryParams)="onQueryParamsChange($event)">
          <!--表头-->
          <thead>
          <tr>
            <th>名称</th>
            <th>盈亏金额</th>
            <th>收益率</th>
            <th>人数</th>
            <th>简称</th>
            <th>操作</th>
          </tr>
          </thead>
          <!--表格数据-->
          <tbody>
          <tr *ngFor="let data of groupProfitTable['data']">
            <td>{{ data.groupName }}</td>
            <td>{{ data.profit }}</td>
            <td>{{ data.returnRate }}</td>
            <td>{{ data.userCount }}</td>
            <td>{{ data.symbol }}</td>
            <td>
              <a (click)="groupProfitDetail()">查看</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
        <!--头部-->
        <ng-template #title>
          <B class="title">用户组收益</B>
        </ng-template>
    </div>

    <!--用户收益-->
    <div *ngIf="showUserProfit" class="container">
      <app-group-profit-detail></app-group-profit-detail>
    </div>

  </div>
</div>
