<div class="group_profit">
  <div class="content">
    <!--用户组收益-->
    <div class="container" >
        <nz-table #userGroupProfitTable
                  [nzScroll]="false"
                  [nzData]="userGroupProfitList"
                  [nzTitle]="title"
                  [nzLoading]="isLoading"
                  [nzBordered]="isBorder"
                  [nzNoResult]="'暂无数据'"
                  [nzShowPagination]="pagination">
          <!--表头-->
          <thead>
          <tr>
            <th>名称</th>
            <th>盈亏金额</th>
            <th>收益率</th>
            <th>人数</th>
            <th>简称</th>
            <th>操作</th>
          </tr>
          </thead>
          <!--表格数据-->
          <tbody>
          <tr *ngFor="let data of userGroupProfitTable['data']">
            <td>{{ data.name }}</td>
            <td>{{ data.amount }}</td>
            <td>{{ data.incomeRate }}</td>
            <td>{{ data.peopleNum }}</td>
            <td>{{ data.symbol }}</td>
            <td>
              <a (click)="groupProfitDetail()">查看</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
        <!--头部-->
        <ng-template #title>
          <B class="title">用户组收益</B>
        </ng-template>
    </div>

    <!--用户收益-->
    <div *ngIf="showUserProfit" class="container">
      <nz-table #userProfitTable
                [nzScroll]="false"
                [nzData]="userProfitList"
                [nzTitle]="userProfitTitle"
                [nzLoading]="isLoading"
                [nzBordered]="isBorder"
                [nzNoResult]="'暂无数据'"
                [nzShowPagination]="pagination">
        <!--表头-->
        <thead>
        <tr>
          <th>账户</th>
          <th>平均收益率</th>
          <th>简称</th>
          <th>操作</th>
        </tr>
        </thead>
        <!--表格数据-->
        <tbody>
        <tr *ngFor="let data of userProfitTable['data']">
          <td>{{ data.name }}</td>
          <td>{{ data.incomeRate }}</td>
          <td>{{ data.symbol }}</td>
          <td> +<a (click)="detail(data)">展开</a></td>
        </tr>
        </tbody>
      </nz-table>
      <!--头部-->
      <ng-template #userProfitTitle>
        <B class="title">用户收益明细</B>
      </ng-template>
    </div>

  </div>
</div>
