<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item *ngFor="let item of headerMenu"
          [nzSelected]="item.id === selectedId"
      (click)="renderTab(item.id)">{{item.title}}</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider *ngIf="showLeftPanel" nzWidth="200px" nzTheme="dark" >
      <app-menu></app-menu>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content><router-outlet></router-outlet></nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
