<nz-table #userProfitTable
          nzBordered
          [nzData]="dataList"
          [nzTitle]="title"
          [nzLoading]="isLoading"
          [nzNoResult]="'暂无数据'"
          [nzTotal]="totalCount"
          [nzFrontPagination]="false"
          [nzPageSize]="pageSize"
          [(nzPageIndex)]="pageNo"
          (nzPageIndexChange)="onPageIndexChange($event)"
          (nzQueryParams)="onQueryParamsChange($event)">
  <!--表头-->
  <thead>
  <tr>
    <th>账号</th>
<!--    <th>平均收益率</th>-->
    <th>组名称</th>
    <th>操作</th>
  </tr>
  </thead>
  <!--表格数据-->
  <tbody>
  <tr *ngFor="let data of userProfitTable['data']">
    <td>{{ data.accountId }}</td>
<!--    <td>{{ data.incomeRate }}</td>-->
    <td>{{ data.groupName }}</td>
    <td> +<a (click)="detail(data)">展开</a></td>
  </tr>
  </tbody>
</nz-table>
<!--头部-->
<ng-template #title>
  <B class="title">组【{{groupName}}】明细</B>
</ng-template>
