<div class="user_profit">
  <div class="user_profit_container">
    <nz-table #basicTable
              [nzData]="dataList"
              [nzTitle]="title"
              [nzLoading]="isLoading"
              [nzNoResult]="'暂无数据'"
              [nzTotal]="totalCount"
              [nzFrontPagination]="false"
              [nzPageSize]="pageSize"
              [(nzPageIndex)]="pageNo"
              (nzPageIndexChange)="onPageIndexChange($event)"
              (nzQueryParams)="onQueryParamsChange($event)">
      <!--表头-->
      <thead>
      <tr>
        <th nzColumnKey="userId" [nzSortFn]="true">用户</th>
        <th nzColumnKey="accountId" [nzSortFn]="true">账号</th>
        <th>品种</th>
<!--        <th nzColumnKey="returnRate" [nzSortFn]="true">平均收益率</th>-->
        <th>简称</th>
      </tr>
      </thead>
      <!--表格数据-->
      <tbody>
      <tr *ngFor="let data of basicTable['data']">
        <td>{{ data.userId }}</td>
        <td>{{ data.accountId }}</td>
        <td>{{ data.symbol }}</td>
<!--        <td>{{data.returnRate * 100 }}%</td>-->
        <td>{{ data.symbol }}</td>
      </tr>
      </tbody>
    </nz-table>
    <!--头部-->
    <ng-template #title>
      <B class="title">用户{{userId}}收益详细</B>
    </ng-template>
  </div>
</div>
