/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/style/index.css";
@import "~ng-zorro-antd/layout/style/index.css";
@import "~ng-zorro-antd/dropdown/style/index.css";
@import "~ng-zorro-antd/table/style/index.css";
@import "~ng-zorro-antd/divider/style/index.css";
@import "~ng-zorro-antd/form/style/index.css";
@import "~ng-zorro-antd/input/style/index.css";
@import "~ng-zorro-antd/input-number/style/index.css";
@import "~ng-zorro-antd/modal/style/index.css";
@import "~ng-zorro-antd/auto-complete/style/index.css";
@import "~ng-zorro-antd/input-number/style/index.css";
@import "~ng-zorro-antd/date-picker/style/index.css";
@import "~ng-zorro-antd/select/style/index.css";
@import "~ng-zorro-antd/menu/style/index.css";
@import "~ng-zorro-antd/icon/style/index.css";
@import "~ng-zorro-antd/grid/style/index.css";
@import "~ng-zorro-antd/progress/style/index.css";

html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #ffffff;
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

h3{
  margin: 0;
  padding: 0;
}

th {
  font-weight: 600 !important;
  text-align: center !important;
  padding: 4px 16px !important;
}

td{
  font-size: 14px !important;
  padding: 6px 16px !important;
  text-align: center !important;
}

nz-progress {
  margin: auto;
}

.title{
  height: 40px;
  font-size: 10px;
  line-height: 40px;
}

.dashboard_item_title{
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
}

.selected{
  background: #6097d4;
  color:white;
}
