.active_user_list{
  width: 100%;
  height: 100%;
  position: relative;
}

.active_user_list .chart_style{
  width: 100%;
  height: 200px !important;
}

.active_user_list .echarts{
  height: 200px;
  background: #fff;
  border: 15px solid #fff;
}
