<nz-table #table
          nzBordered
          nzBordered
          [nzData]="dataList"
          [nzTitle]="title"
          [nzLoading]="isLoading"
          [nzNoResult]="'暂无数据'"
          [nzTotal]="totalCount"
          [nzFrontPagination]="false"
          [nzPageSize]="pageSize"
          [(nzPageIndex)]="pageNo"
          (nzPageIndexChange)="onPageIndexChange($event)"
          (nzQueryParams)="onQueryParamsChange($event)">
  <!--表头-->
  <thead>
  <tr>
    <th>用户</th>
    <th>账号</th>
    <th>盈亏</th>
  </tr>
  </thead>
  <!--表格数据-->
  <tbody>
  <tr *ngFor="let data of table['data']">
    <td>{{ data.userId }}</td>
    <td>{{ data.accountId }}</td>
<!--    <td>{{ data.returnRate }}</td>-->
    <td>{{ moneyFormat(data.profit) }}</td>
  </tr>
  </tbody>
</nz-table>
<!--头部-->
<ng-template #title>
  <B class="title">品种【{{symbol}}】{{date}} 收益明细</B>
</ng-template>
